<%= form_with model: @club, url: clubs_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      サークル情報登録
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">サークルネーム</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">募集状況</label>
    </div>
    <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">創設時期(年)</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">創設時期(月)</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">都道府県</label>
    </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">市区町村</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">使用体育館</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">男女比</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div><div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">初心者：経験者</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">年齢層</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">目的</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">ホームページURL</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">特徴</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  
  <div class='register-btn'>
    <%= f.submit "募集開始" ,class:"register-orange-btn" %>
  </div>
</div>
<% end %>