<%= form_with model: @club, url: clubs_path, class: 'club-registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      サークル情報登録
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">サークルネーム</label>
    </div>
    <%= f.text_area :name, class:"input-default", id:"name", placeholder:"例) バドミントンサークル", maxlength:"40", autofocus: true %>
  </div>
  <div class="img-upload">
    <div class="form-text">
      <span class="indispensable">必須</span>
      紹介画像
    </div>
    <div class="click-upload">
      <p>
        クリックしてファイルをアップロード
      </p>
      <%= f.file_field :image,class: "image-file", id:"club-image" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">募集状況</label>
    </div>
    <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>

  <div class="since-group">
    <div class="form-group-since">
      <div class='form-text-wrap'>
        <span class="indispensable">必須</span>
        <label class="form-text">創設時期(年)</label>
      </div>
      <%= f.text_area :since_year, class:"input-default-since", id:"since_year", placeholder:"例) 2019", maxlength:"4", autofocus: true %>
    </div>
    <div class="form-group-since">
      <div class='form-text-wrap'>
        <span class="indispensable">必須</span>
        <label class="form-text">創設時期(月)</label>
      </div>
      <%= f.text_area :since_month, class:"input-default-since", id:"since_month", placeholder:"例) 1", maxlength:"2", autofocus: true %>
    </div>
  </div>


  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">都道府県</label>
    </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">市区町村</label>
    </div>
    <%= f.text_area :city, class:"input-default", id:"city", placeholder:"例) 新宿区", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">使用体育館</label>
    </div>
    <%= f.text_area :gym, class:"input-default", id:"gym", placeholder:"例) 新宿体育館", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">男女比</label>
    </div>
    <%= f.text_area :gender_ratio, class:"input-default", id:"gender_ratio", placeholder:"例) 1:1", maxlength:"40", autofocus: true %>
  </div><div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">初心者：経験者</label>
    </div>
    <%= f.text_area :beginner_ratio, class:"input-default", id:"beginner_ratio", placeholder:"例) 2:1", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">年齢層</label>
    </div>
    <%= f.text_area :age_range, class:"input-default", id:"age_range", placeholder:"例) 20~30歳代", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">サークル目標</label>
    </div>
    <%= f.text_area :age_range, class:"input-default", id:"age_range", placeholder:"例) 区の大会で入賞", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">ホームページURL</label>
    </div>
    <%= f.text_area :homepage, class:"input-default", id:"homepage", placeholder:"例) https:~", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <span class="indispensable">必須</span>
      <label class="form-text">特徴</label>
    </div>
    <%= f.text_area :information, class:"input-default-high", id:"information", placeholder:"例) 初心者の方大歓迎です。", maxlength:"40", autofocus: true %>
  </div>
  
  <div class='register-btn'>
    <%= f.submit "募集開始" ,class:"register-orange-btn" %>
  </div>
</div>
<% end %>