<%= render "shared/header" %>

<div class="search-form-wrap">
  <div class="search-form-header">
    サークル検索
  </div>
  <div class="search-place-title">
    都道府県選択
  </div>
  <div class="search-place">
    <%= search_form_for @q, url: search_clubs_path, class: 'prefecture-city' do |f| %>
      <div class="search-form">
        <div class="search-prefecture">
          <%= f.select :prefecture_id, nil, {class:"search-box-top" },{'v-model': 'selectedPref', '@change': 'getCities(selectedPref)'} do %>
            <option v-for="prefecture in prefectures" :key="prefecture.name" :value="prefecture.id">
              {{prefecture.name}}
            </option>
          <% end %>
          <div class="city-index" v-for="city in cities" :key="city.name" :value="city.id">{{city.name}}</div>
        </div>
      </div>
      
    <%= f.submit "検索" ,class:"search-btn" %>
    <% end %>
    <%= javascript_pack_tag 'hello_vue' %>
  </div>
</div>


<div class="search-accordion-wrap">
  <div class="search-accordion-label">
    <div class="search-accordion-label-left">
      <%= "検索結果：#{@clubs.count} 件"%>
    </div>
    <div class="search-accordion-label-right">
      <i class="fas fa-sliders-h"></i>
      <span>絞り込み </span>
      <i class="fas fa-angle-down search-down"></i>
    </div>
  </div>
  <div class="search-accordion">
    <div class="search-accordion-body">
    ここに検索条件を追加していく
    </div>
  </div>
</div>


<div class='search-club-contents'>
    <h2 class='search-club-content-title'>検索結果</h2>
    <div class='search-club-lists'>
      <% @clubs.each do |club| %>
        <%= render partial: 'clubs/search_club' , locals: {  club: club } %>
      <% end %>
    </div>
  </div>