<%= render "shared/header" %>

  <div class="search-form-header">
    サークル検索
  </div>
  <div class="search-place-title">
    地域を選択してください
  </div>
  <div class="search-place">
    <%= search_form_for @q, url: search_clubs_path, class: 'prefecture-city' do |f| %>
      <div class="search-form">
        <% if @prefecture.present? %>
        <div class="search-prefecture">
          <%= f.select :prefecture_id_eq, nil, {},{'v-model': 'selectedPrefecture', '@change': 'getCities(selectedPrefecture)'} do %>
            <option v-for="prefecture in prefectures" :key="prefecture.name" :value="prefecture.id" >
              {{prefecture.name}}
            </option>
          <% end %>
          <div class="city-lists-content" >
            <div class="city-list" v-for="city in cities" :key="city.name" :value="city.id">
              <input type="checkbox" v-bind="city" :value="city.id" name="q[city_id_eq_any][]" id="q_city_id_eq_any_id">
              <label for="q_city_id">{{city.name}}</label>
            </div>
          </div>
        </div>
        <% else %>
        <div class="search-prefecture">
          <%= f.select :prefecture_id_eq, nil, {},{'v-model': 'selectedPref', '@change': 'getCities(selectedPref)'} do %>
            <option v-for="prefecture in prefectures" :key="prefecture.name" :value="prefecture.id">
              {{prefecture.name}}
            </option>
          <% end %>
          <div class="city-lists-content" >
            <div class="city-list" v-for="city in cities" :key="city.name" :value="city.id">
              <input type="checkbox" v-bind="city" :value="city.id" name="q[city_id_eq_any][]" id="q_city_id_eq_any_id">
              <label for="q_city_id">{{city.name}}</label>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <%# 日時条件保持 %>
      <% if @q.events_start_gteq.present? %>
        <%= f.hidden_field :events_start_gteq, value: @q.events_start_gteq %>
      <% end %>
      <% if @q.events_start_lteq_end_of_day.present? %>
        <%= f.hidden_field :events_start_lteq_end_of_day, value: @q.events_start_lteq_end_of_day %>
      <% end %>

      <%# 絞り込み条件保持 %>
      <% if @q.status_id_eq_any.present? %>
        <% @q.status_id_eq_any.each do |status_id| %>
          <%= hidden_field_tag 'q[status_id_eq_any][]', status_id %>
        <% end %>
      <% end %>
      <% if @q.want_sex_id_eq_any.present? %>
        <% @q.want_sex_id_eq_any.each do |sex_id| %>
          <%= hidden_field_tag 'q[want_sex_id_eq_any][]', sex_id %>
        <% end %>
      <% end %>
      <% if @q.want_ages_name_eq_any.present? %>
        <% @q.want_ages_name_eq_any.each do |age_name| %>
          <%= hidden_field_tag 'q[want_ages_name_eq_any][]', age_name %>
        <% end %>
      <% end %>
      <% if @q.want_levels_name_eq_any.present? %>
        <% @q.want_levels_name_eq_any.each do |level_name| %>
          <%= hidden_field_tag 'q[want_levels_name_eq_any][]', level_name %>
        <% end %>
      <% end %>

      <%= f.submit "検索" ,class:"btn-border" %>
    <% end %>
  </div>

  <div class="search-accordion-wrap">
    <div class="search-accordion-label">
      <div class="search-accordion-label-left">
        <%= "検索結果：#{@clubs.count} 件"%>
      </div>
      <div class="search-accordion-label-right">
        <div class="date-sort hover-action">
          <i class="far fa-calendar-alt"></i>
          <span>日時で絞り込む </span>
          <i class="fas fa-angle-down date-down"></i>
        </div>
        <div class="search-sort hover-action">
          <i class="fas fa-sliders-h"></i>
          <span>条件で絞り込む </span>
          <i class="fas fa-angle-down search-down"></i>
        </div>
      </div>
    </div>
    <div class="date-accordion">
      <div class="date-accordion-body">
        <%= search_form_for @q, url: search_clubs_path, class:"date-search" do |f| %>
          <div class="search-date-form">
            <%= f.date_field :events_start_gteq, include_blank: true, class: 'form-control-start'%>
            〜
            <%= f.date_field :events_start_lteq_end_of_day, include_blank: true, class: 'form-control-end'%>
          </div>
          <div class="search-date-btn">

          <%# 地域条件保持 %>
          <% if @prefecture.present? %>
            <%= f.hidden_field :prefecture_id_eq, value: @q.prefecture_id_eq %>
            <% if @q.city_id_eq_any.present? %>
              <% @q.city_id_eq_any.each do |city_id| %>
                <%= hidden_field_tag 'q[city_id_eq_any][]', city_id %>
              <% end %>
            <% end %>
          <% end %>

          <%# 絞り込み条件保持 %>
          <% if @q.status_id_eq_any.present? %>
            <% @q.status_id_eq_any.each do |status_id| %>
              <%= hidden_field_tag 'q[status_id_eq_any][]', status_id %>
            <% end %>
          <% end %>
          <% if @q.want_sex_id_eq_any.present? %>
            <% @q.want_sex_id_eq_any.each do |sex_id| %>
              <%= hidden_field_tag 'q[want_sex_id_eq_any][]', sex_id %>
            <% end %>
          <% end %>
          <% if @q.want_ages_name_eq_any.present? %>
            <% @q.want_ages_name_eq_any.each do |age_name| %>
              <%= hidden_field_tag 'q[want_ages_name_eq_any][]', age_name %>
            <% end %>
          <% end %>
          <% if @q.want_levels_name_eq_any.present? %>
            <% @q.want_levels_name_eq_any.each do |level_name| %>
              <%= hidden_field_tag 'q[want_levels_name_eq_any][]', level_name %>
            <% end %>
          <% end %>

          <%= f.submit "検索" ,class:"btn-border" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="search-accordion">
      <div class="search-accordion-body">
        <%= search_form_for @q, url: search_clubs_path, class:"search-detail" do |f| %>
        <div class="accordion-top">
          <div class="accordion-topic right-border">
            <label class="accordion-title">募集状況</label>
            <% Status.all.each do |status| %>
              <div class="search-check-box">
                <%= f.check_box :status_id_eq_any, { multiple: true, checked: false, include_hidden: false }, status[:id] %>
                <label class='badge badge-secondary'><%= status.name %></label>
              </div>
            <% end %>
          </div>
          <div class="accordion-topic right-border">
            <label class="accordion-title">性別</label>
            <% Sex.all.each do |sex| %>
              <div class="search-check-box">
                <%= f.check_box :want_sex_id_eq_any, { multiple: true, checked: false, include_hidden: false }, sex[:id] %>
                <label class='badge badge-secondary'><%= sex.name %></label>
              </div>
            <% end %>
          </div>
          <div class="accordion-topic right-border">
            <label class="accordion-title">年齢</label>
            <% Age.all.each do |age| %>
              <div class="search-check-box">
                <%= f.check_box :want_ages_name_eq_any, { multiple: true, checked: false, include_hidden: false }, age[:name] %>
                <label class='badge badge-secondary'><%= age.name %></label>
              </div>
            <% end %>
          </div>
          <div class="accordion-topic">
            <div class="level-label">
              <label class="accordion-title">経験レベル</label>
              <i class="far fa-question-circle level-modal-open"></i>
            </div>
            <div class="modal level-modal">
              <div class="modal__bg level-modal-close"></div>
                <%= render partial: 'wants/level'%>
            </div>
            <% Level.all.each do |level| %>
              <div class="search-check-box">
                <%= f.check_box :want_levels_name_eq_any, { multiple: true, checked: false, include_hidden: false }, level[:name] %>
                <label class='badge badge-secondary'><%= level.name %></label>
              </div>
            <% end %>
          </div>
        </div>
        <div class="search-detail-btn-wrap">

          <%# 地域条件保持 %>
          <% if @prefecture.present? %>
            <%= f.hidden_field :prefecture_id_eq, value: @q.prefecture_id_eq %>
            <% if @q.city_id_eq_any.present? %>
              <% @q.city_id_eq_any.each do |city_id| %>
                <%= hidden_field_tag 'q[city_id_eq_any][]', city_id %>
              <% end %>
            <% end %>
          <% end %>

          <%# 日時条件保持 %>
          <% if @q.events_start_gteq.present? %>
            <%= f.hidden_field :events_start_gteq, value: @q.events_start_gteq %>
          <% end %>
          <% if @q.events_start_lteq_end_of_day.present? %>
            <%= f.hidden_field :events_start_lteq_end_of_day, value: @q.events_start_lteq_end_of_day %>
          <% end %>

          <%= f.submit "検索" ,class:"btn-border" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class='search-club-contents'>
    <h2 class='search-club-content-title'>検索結果</h2>
    <div class="search-tag-wrap">
      <%# 選択中の地域 %>
      <div class="place-tag">
        <% if @prefecture.present? && @q.city_id_eq_any.present? %>
        <div class="prefecture-tag"><%= "選択中の地域：#{@prefecture.name} "%></div>
        <i class="fas fa-chevron-right"></i>
          <% if @cities.size == 1%>
            <span><%= "#{@cities[0].name}"%></span>
          <% elsif @cities.size == 2%>
            <span><%= "#{@cities[0].name}、#{@cities[1].name}"%></span>
          <% elsif @cities.size == 3%>
            <span><%= "#{@cities[0].name}、#{@cities[1].name}、#{@cities[2].name}"%></span>
          <% elsif @cities.size > 3%>
            <span><%= "#{@cities[0].name}、#{@cities[1].name}、#{@cities[2].name}"%></span>
            <span class="ctiy-more"><i class="fas fa-ellipsis-h"></i></span>
          <% end %>
        <% elsif @prefecture.present? %>
          <div class="prefecture-tag"><%= "選択中の地域：#{@prefecture.name} "%></div>
          <i class="fas fa-chevron-right"></i>
          <span> 全域</span>
        <% else %>
        <span>選択中の地域：全国</span>
        <% end %>
      </div>

      <%# 指定した日時 %>
      <% if @q.events_start_gteq.present? || @q.events_start_lteq_end_of_day.present? %>
      <div class="date-tag">
        <div class="prefecture-tag">指定した日時：</div>
        <% if @q.events_start_gteq.present? %>
          <span><%= l @q.events_start_gteq, format: :YMS %></span>
        <% end %>
        <span class="scope">〜</span>
        <% if @q.events_start_lteq_end_of_day.present? %>
          <span><%= l @q.events_start_lteq_end_of_day, format: :YMS %></span>
        <% end %>
      </div>
      <% end %>


      <%# 絞り込んだ条件 %>
      <% if @q.status_id_eq_any.present? || @q.want_sex_id_eq_any.present? || @q.want_ages_name_eq_any.present? || @q.want_levels_name_eq_any.present? %>
      <div class="terms-tag">
        <% if @q.status_id_eq_any.present? %>
          <% @q.status_id_eq_any.each do |status_id| %>
            <span class="tag-design"><%= Status.find(status_id).name %></span>
          <% end %>
        <% end %>
        <% if @q.want_sex_id_eq_any.present? %>
          <% @q.want_sex_id_eq_any.each do |sex_id| %>
            <span class="tag-design"><%= Sex.find(sex_id).name %></span>
          <% end %>
        <% end %>
        <% if @q.want_ages_name_eq_any.present? %>
          <% @q.want_ages_name_eq_any.each do |age_name| %>
            <span class="tag-design"><%= age_name %></span>
          <% end %>
        <% end %>
        <% if @q.want_levels_name_eq_any.present? %>
          <% @q.want_levels_name_eq_any.each do |level_name| %>
            <span class="tag-design"><%= level_name %></span>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>

    <% if @clubs.present? %>
    <ul class='search-club-lists'>
      <% @clubs.each do |club| %>
        <%= render partial: 'clubs/search_club' , locals: { club: club } %>
      <% end %>
    </ul>
    <% else %>
    <div class="search-no-result">
      <div class="no-result-text">
        条件に一致するサークルがありません
      </div>
    </div>
    <% end %>
  </div>

<%= paginate @clubs %>

<%= javascript_pack_tag 'hello_vue' %>