<%= render "shared/header" %>

<div class="club-show-wrap">
  <div class="club-show-content">
    <div class="club-show-top">
      <div class="club-show-date">
        <div class="club-show-new-date">
          募集開始：<%= l @club.created_at, format: :long %>
        </div>
        <div class="club-show-update">
          最終更新：<%= l @club.updated_at, format: :long %>
        </div>
      </div>
      <div class="club-show-content-title">
        <h1><%= @club.name%></h1>
      </div>
      <div class="club-show-content-status">
        <%= @club.status.name %>
      </div>
    </div>

    <div class="slider" id="slider-content">
      <% @club.images.each do |image| %>
        <div>
          <%= image_tag image, class: "club-show-image" %>
        </div>
      <% end %>
    </div>

    <div class="show-detail-label">
      サークル情報
    </div>

    <div class="club-show-detail">
      <table class="club-show-detail-table">
      <tbody>
        <tr>
          <th class="club-show-detail-item">創設時期</th>
          <td class="club-show-detail-value"><%= "#{@club.since_year}年#{@club.since_month}月" %></td>
        </tr>
         <tr>
          <th class="club-show-detail-item">活動地域</th>
          <td class="club-show-detail-value"><%= "#{@club.prefecture.name} #{@club.city.name}" %></td>
        </tr>
         <tr>
          <th class="club-show-detail-item">使用体育館</th>
          <td class="club-show-detail-value"><%= @club.gym %></td>
        </tr>
         <tr>
          <th class="club-show-detail-item">年齢構成</th>
          <td class="club-show-detail-value"><%= @club.age_range %></td>
        </tr>
         <tr>
          <th class="club-show-detail-item">男女比</th>
          <td class="club-show-detail-value"><%= @club.gender_ratio %></td>
        </tr>
         <tr>
          <th class="club-show-detail-item">初心者：経験者</th>
          <td class="club-show-detail-value"><%= @club.beginner_ratio %></td>
        </tr>
         <tr>
          <th class="club-show-detail-item">サークル目標</th>
          <td class="club-show-detail-value"><%= @club.purpose %></td>
        </tr>
         <tr>
          <th class="club-show-detail-item">サークルホームページ</th>
          <td class="club-show-detail-value">
            <% if @club.homepage.present? %>
            <%= link_to @club.homepage, url_with_protocol(@club.homepage), :target => '_blank' %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="club-show-information">
      <div class="club-show-information-label">
        サークル説明 〜アピールポイント・特徴〜
      </div>
      <div class="club-show-information-text">
      <%= @club.information%>
      </div>
    </div>
    <%= link_to "募集するメンバー像", edit_club_want_path(club_id: @club.id, id: @club.want.id)%>


    <div class="show-detail-label">
      活動予定日
    </div>
    <div id="club-calendar"></div>
    <div id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          
          </div>
        </div>
      </div>
    </div>

    <div id="response-modal" tabindex="0" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="error" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="response-modal-body">
            </div>
          </div>
        </div>
    </div>


    <% if user_signed_in? && @club.user_id == current_user.id%>
    <div class="club-show-contact-wrap">
      <div class="club-show-contact">
        <%= link_to edit_club_path, class: "chat-contact-link" do %>
            <i class="far fa-edit"></i>
            <span>サークル情報の編集</span>
        <% end%>
        <%= link_to club_path, method: :delete, class: "mail-contact-link" do %>
            <i class="far fa-trash-alt"></i>
            <span>サークル募集の削除</span>
        <% end %>
        <div class="like-btn">
          <i class="fas fa-heart red"></i> 
          <span><%= "お気に入り #{@club.likes.count}"%></span>
        </div>
      </div>
    </div>
    <% elsif user_signed_in? %>
    <div class="club-show-contact-wrap">
      <div class="club-show-contact">
        <%= link_to '#' , class: "chat-contact-link js-modal-open" do%>
          <i class="far fa-comments"></i>
          <span>チャットで問い合わせる</span>
        <% end %>
        <%= link_to "#", class: "mail-contact-link" do%>
          <i class="far fa-envelope"></i>
          <span>メールで問い合わせる</span>
        <% end %>
        <div class="like-btn-fake">
          <span>お気に入り</span>
          <div id="like-button-<%= @club.id %>">
            <% if current_user&.like?(@club) %>
              <%= render partial: 'likes/unlike_button', locals: {club: @club}%>
            <% else %>
              <%= render partial: 'likes/like_button', locals: {club: @club}%>
            <% end%>
          </div>
        </div>
      </div>
      <div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
            <%= render partial: 'rooms/new', locals: {club: @club} %>
      </div>
    </div>
    <% else %>
    <div class="club-show-contact-wrap">
      <div class="club-show-contact">
        <%= link_to new_user_session_path, class: "chat-contact-link" do%>
          <i class="far fa-comments"></i>
          <span>チャットで問い合わせる</span>
        <% end %>
        <%= link_to new_user_session_path, class: "mail-contact-link" do%>
          <i class="far fa-envelope"></i>
          <span>メールで問い合わせる</span>
        <% end %>
        <div class="like-btn">
          <i class="fas fa-heart red"></i> 
          <span><%= "お気に入り #{@club.likes.count}"%></span>
        </div>
      </div>
    </div>
    <% end %>


  </div>
</div>