<%= form_with model: @want, url: club_wants_path(params[:club_id]), class: 'club-registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      募集しているメンバーの登録
    </h1>
  </div>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性別</label>
    </div>
    <%= f.collection_check_boxes(:sex_id, Sex.all, :id, :name, include_hidden: false) do |tag| %>
       <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
        <% end %>
    <% end %>
  </div>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">年齢</label>
    </div>
    <%= f.collection_check_boxes(:ages, Age.all, :id, :name, include_hidden: false) do |tag| %>
        <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
        <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">経験レベル</label>
    </div>
    <%= f.collection_check_boxes(:levels, Level.all, :id, :name, include_hidden: false) do |tag| %>
        <%= tag.label do %>
            <%= tag.check_box %>
            <%= tag.text %>
        <% end %>
    <% end %>
  </div>


  
  <div class='register-new-btn'>
    <%= f.submit "登録する" ,class:"register-orange-btn" %>
  </div>
</div>
<% end %>
