<div class="main-top">
  <div class="main-top-left">
    <div class="room-name">
     <%= @room.name %>
    </div>
  </div>
  <div class="message-main-top-right">
    <div class="chat-end">
      <%#= link_to "チャットを終了する",room_path(@room), method: :delete %>
    </div>
  </div>
</div>


<div id="chats">
  <%= render @messages %>
</div>

<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
<input id="current_user_id" type="hidden" value= "<%= current_user.id %>">
<input id="room_id" type="hidden" value= "<%= @room.id %>">

<%#<form class="message-form">
  <input type="text" id="content" placeholder="入力してね" style="width:30%;">
  <input type="submit" value="送信" id="send">
  <input id="the_other_id" type="hidden" value= "<%= @the_other.id %><%#">
</form>%>






<div class="form">
  <%#= form_with model: [@room, @message], url: room_messages_path, class: 'message-form', local: true do |f| %>
  <div class="form-input">
    <%#= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
  </div>
  <%#= f.submit '送信', class: 'form-submit' %>
<%# end %>
</div>