<%= form_with model: @user, url: user_registration_path, method: :put, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      プロフィール編集
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) バド太郎", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">都道府県</label>
    </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性別</label>
    </div>
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">経験年数</label>
    </div>
    <%= f.text_area :career, class:"input-default", id:"career", placeholder:"例) 高校から初めて9年目", maxlength:"40", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">自己紹介</label>
    </div>
    <%= f.text_area :profile, class:"input-default", id:"profile", placeholder:"意気込み、一言、大会の実績など自由に記載してください（必須 1,000文字まで）", rows:"7", maxlength:"1000" %>
  </div>

  <div class='register-btn'>
    <%= f.submit "編集" ,class:"register-orange-btn" %>
  </div>
</div>
<% end %>
