<%= render "shared/header" %>

<div class="user-show-main">
  <div class="user-show-wrap">
    <div class="user-show-header">
      <div class="user-show-header-left">
        <h1>
          <%= "#{@user.nickname}さんのマイページ"%>
        </h1>
        <% if @user.club.present?%>
        <div class="user-show-header-left-text">
        <%= "#{@user.club.name}を運営しています"%>
        </div>
        <% end %>
      </div>
      <div class="user-show-header-right">
        <div class="user-show-header-text">
          <%= link_to "プロフィール編集", edit_user_registration_path, class: "user-show-link" %>
        </div>
        <% if @user.club.present?%>
        <div class="user-show-header-text">
          <%= link_to "サークル情報編集", "#", class: "user-show-link" %>
        </div>
        <% else %>
        <div class="user-show-header-text">
          <%= link_to "メンバーを募集する", new_club_path, class: "user-show-link" %>
        </div>
        <% end %>
        <% if @user.messages.present? %>
        <div class="user-show-header-text">
          <%= link_to "チャット一覧", rooms_path, class: "user-show-link" %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="user-show-profile">
      <h2 class="user-show-title">
        プロフィール
      </h2>
      <div class="profile-groupe">
        ニックネーム：<%= @user.nickname%>
      </div>
      <div class="profile-groupe">
        email：<%= @user.email%>
      </div>
      <div class="profile-groupe">
        都道府県：
        <% if @user.prefecture_id.present?%>
        <%= @user.prefecture.name %>
        <% end %>
      </div>
      <div class="profile-groupe">
        性別：
        <% if @user.gender_id.present?%>
        <%= @user.gender.name %>
        <% end %>
      </div>
      <div class="profile-groupe">
        経験年数：
        <% if @user.career.present?%>
        <%= @user.career %>
        <% end %>
      </div>
      <div class="user-information">
        自己紹介<br>
        <% if @user.profile.present?%>
        <%= @user.profile %>
        <% end %>
      </div>
    </div>

    <div class="user-show-action">
      <div class="action-groupe">
        <h2 class="user-show-title">
        イイネ一覧
        </h2>
        <%# イイネしたクラブ新しい順に5件表示%>
      </div>
      <ul class='club-lists'>
      <% @clubs.each do |club| %>
        <li class='list'>
          <%= link_to club_path(club.id), class: "link" do %>
          <div class="club-content-wrap">
            <div class="club-top">
              <div class='club-info'>
                <div class="created-date">
                <%= club.created_at.to_s(:datetime_jp)%>
                </div>
                <h3 class="club-name">
                <%= club.name%>
                </h3>
                <div class="club-place">
                  <div class="club-prefecture">
                  <%= club.prefecture.name%>
                  </div>
                  <div class="club-city">
                  <%= club.city%>
                  </div>
                </div>
              </div>
              <div class="club-image-content">
                <%= image_tag club.image, class: "club-image" if club.image.attached? %>
              </div>
            </div>
            <div class="club-bottom">
              <div class="club-comment">
                <%= club.information %>
              </div>
              <% if user_signed_in? %>
                <% if current_user.own?(club) %>
                  <%= link_to edit_club_path(club), class: "link" do %>
                    <div class='favorite-btn'>
                      <i class="far fa-edit"></i>
                    </div>
                  <% end%>
                <% else %>
                  <div id="like-button-<%= club.id %>">
                  <% if current_user&.like?(club) %>
                    <%= render partial: 'likes/unlike_button', locals: {club: club}%>
                  <% else %>
                    <%= render partial: 'likes/like_button', locals: {club: club}%>
                  <% end%>
                  </div>
                <% end %>
              <% end %> 
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    </div>





  </div>
</div>