<%= render "shared/header" %>

<div class="user-show-main">
  <div class="user-show-wrap">
    <div class="user-show-header">
      <div class="user-show-header-left">
        <h1>
          <%= "#{@user.nickname}さんのマイページ"%>
        </h1>
        <% if @user.club.present?%>
        <div class="user-show-header-left-text">
        <%= "#{@user.club.name}を運営しています"%>
        </div>
        <% end %>
      </div>
      <div class="user-show-header-right">
        <div class="user-show-header-text">
          <%= link_to "プロフィール編集", edit_user_registration_path, class: "user-show-link" %>
        </div>
        <% if @user.club.present?%>
        <div class="user-show-header-text">
          <%= link_to "サークル情報編集", "#", class: "user-show-link" %>
        </div>
        <% else %>
        <div class="user-show-header-text">
          <%= link_to "メンバーを募集する", new_club_path, class: "user-show-link" %>
        </div>
        <% end %>
        <% if @user.messages.present? %>
        <div class="user-show-header-text">
          <%= link_to "チャット一覧", rooms_path, class: "user-show-link" %>
        </div>
        <% end %>
      </div>
    </div>


    <div class="show-detail-label">
      プロフィール
    </div>

    <div class="club-show-detail">
      <table class="club-show-detail-table">
        <tbody>
          <tr>
            <th class="club-show-detail-item">ニックネーム</th>
            <td class="club-show-detail-value"><%=  @user.nickname%></td>
          </tr>
          <tr>
            <th class="club-show-detail-item">email</th>
            <td class="club-show-detail-value"><%= @user.email%></td>
          </tr>
          <tr>
            <th class="club-show-detail-item">都道府県</th>
            <% if @user.prefecture_id.present?%>
              <td class="club-show-detail-value"><%= @user.prefecture.name %></td>
            <% end %>
          </tr>
          <tr>
            <th class="club-show-detail-item">性別</th>
            <% if @user.gender_id.present?%>
              <td class="club-show-detail-value"><%= @user.gender.name %></td>
            <% end %>
          </tr>
          <tr>
            <th class="club-show-detail-item">経験年数</th>
            <% if @user.career.present?%>
              <td class="club-show-detail-value"><%= @user.career %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="club-show-information">
      <div class="club-show-information-label">
        自己紹介
      </div>
      <div class="club-show-information-text">
      <% if @user.profile.present?%>
        <%= @user.profile %>
      <% end %>
      </div>
    </div>

    <div class="show-detail-label">
      いいね一覧
    </div>

    
    <div class="user-show-action">
    <% if @clubs.present? %>
      <ul class='club-lists'>
      <% @clubs.each do |club| %>
        <li class='list'>
          <%= link_to club_path(club.id), class: "link" do %>
          <div class="club-content-wrap">
            <div class="club-top">
              <div class='club-info'>
                <div class="created-date">
                <%= club.created_at.to_s(:datetime_jp)%>
                </div>
                <h3 class="club-name">
                <%= club.name%>
                </h3>
                <div class="club-place">
                  <div class="club-prefecture">
                  <%= club.prefecture.name%>
                  </div>
                  <div class="club-city">
                  <%= club.city%>
                  </div>
                </div>
              </div>
              <div class="club-image-content">
                <%= image_tag club.image, class: "club-image" if club.image.attached? %>
              </div>
            </div>
            <div class="club-bottom">
              <div class="club-comment">
                <%= club.information %>
              </div>
              <% if user_signed_in? %>
                <% if current_user.own?(club) %>
                  <%= link_to edit_club_path(club), class: "link" do %>
                    <div class='favorite-btn'>
                      <i class="far fa-edit"></i>
                    </div>
                  <% end%>
                <% else %>
                  <div id="like-button-<%= club.id %>">
                  <% if current_user&.like?(club) %>
                    <%= render partial: 'likes/unlike_button', locals: {club: club}%>
                  <% else %>
                    <%= render partial: 'likes/like_button', locals: {club: club}%>
                  <% end%>
                  </div>
                <% end %>
              <% end %> 
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% else %>
      <div class="no-likes-content">
        <div class="no-likes-text">
          お気に入り登録したサークルがありません
        </div>
      </div>
    <% end %>
    </div>

  </div>
</div>