<% if current_user.id == @club.user_id %>
<div class="modal-wrapper">
  <div class="row">
    <div class="schedule-form-label">予定新規作成</div>
    <div class="schedule-form-content">
      <%= form_with model: [@club, @event], url: club_events_path(club_id: params[:club_id]), remote: true do |f| %>
        <%= render 'shared/event_error_messages', object: f.object %>

        <%= f.label :place, "　場所　"%>
        <%= f.text_field :place, class:'form-control mb-3', required: true %> 

        <div class="form-inline text-left">
         <%= f.label :start,"開始時刻", {class:'control-label'}%>
         <%= f.datetime_select :start, {default: Date.today + 0.hours + 00.minutes, minute_step: 15, use_month_numbers: true }, class: 'form-control' %>
        </div>
         <br>
        <div class="form-inline text-left"> 
         <%= f.label :end,"終了時刻", {class:'control-label'}%>
         <%= f.datetime_select :end, {default: Date.today + 0.hours + 00.minutes, minute_step: 15, use_month_numbers: true }, class: 'form-control' %>
        </div>
        <div class="event-btn-wrap">
        <%= f.submit "登録",   class: "btn btn-primary js-event-create-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>